<div id="wrap">
	<div class="container">
		<div class="row text-center jumbotron">
			<h1>{{ currentGameName }}</h1>
			<p>
				Het spel is voorbij! Voer hieronder je naam in om je score op te slaan.
			</p>
		</div>
		<div class="row content">
			<div class="col-md-4 col-md-offset-4 text-center">
				<div class="form-group">
                	<p>
                    	Score: {{ lastScore }}
                    </p>
					<input type="text" class="form-control" data-ng-model="newScore.username" data-ng-hide="newScoreAdded" placeholder="Nickname" />
					<br />
					<a href="/#/gameover" class="btn btn-success btn-block" data-ng-click="setScore()" data-ng-hide="newScoreAdded">Invoeren</a>
				</div>
				<div class="alert alert-success" data-ng-show="newScoreAdded">
					Je score is verstuurd!
				</div>
				<table class="table">
					<tr>
						<th class="text-center">#</th>
						<th class="text-center">Naam</th>
						<th class="text-center">Score</th>
					</tr>
					<tr data-ng-repeat="score in scores | orderBy: 'score':true | limitTo: 5">
						<td>{{ $index+1 }}</td>
						<td>{{ score.username }}</td>
						<td>{{ score.score }}</td>
					</tr>
				</table>
				<a href="/#/inprogress" class="btn btn-primary btn-block" data-ng-click="startGame('testGame', ' testPlayer')">Speel opnieuw</a>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<a href="/#/games" class="btn btn-warning btn-block">Ga terug</a>
		</div>
	</div>
</div>
