<div id="wrap">
	<div class="container">
		<div class="row text-center jumbotron" style="background: url({{ game.images.headerImage }});">
			<h1>{{ currentGameName }}</h1>
		</div>
		<div class="row content">
			<div class="col-md-12 text-center">
				<p>Het spel is momenteel bezig! Je moet wachten op je beurt</p>
			</div>
		</div>
	</div>
</div>
<div id="footer">
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<a href="/#gameover" class="btn btn-danger btn-block" data-ng-click="endGame()">Spel stoppen</a>
		</div>
	</div>
</div>
